on init
    mkdir /mnt/vendor 0755 system system
    #create mountpoint for /mnt/vendor/persist partition
    mkdir /mnt/vendor/persist 0771 system system

    mkdir /cache/recovery 0770 system system

on post-fs
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist

    chown system system /mnt/vendor/protect_f
    chmod 0770 /mnt/vendor/protect_f

    chown system system /mnt/vendor/protect_s
    chmod 0770 /mnt/vendor/protect_s

    # We restorecon /mnt/vendor/persist to set SEPolicy label.
    restorecon /mnt/vendor/persist
    
on post-fs-data
    # Create /data/vendor/key_provisioning dir and get proper encryption policy installed
    # Key Installation
    mkdir /data/vendor/key_provisioning 0771 system system
#SeLinux
    restorecon_recursive /mnt/vendor/protect_f
    restorecon_recursive /mnt/vendor/protect_s

#on fs
#    chown root system /mnt/vendor/persist
#    chmod 0771 /mnt/vendor/persist
#    restorecon_recursive /mnt/vendor/persist
#    mkdir /mnt/vendor/persist/data 0700 system system

#    # Create /data/vendor/tzstorage directory for SFS listener
#    mkdir /data/vendor/tzstorage 0770 system system

#    # Create directory for apps access via QTEEConnector
#    mkdir /data/vendor/qtee 0770 system system

#    # Create dir for TUI
#    mkdir /data/vendor/tui 0700 system drmrpc
